<?xml version="1.0" encoding="utf-8"  ?>
<Application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
      xsi:schemaLocation="urn:MyData ../PDA0.02.xsd"   DBType="SQLSERVER" Title="سیستم pdal" Name="Web_App_Base" Theme="Spacelab" ConnectionSetthing="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PDALTest;Data Source=.\SQLEXPRESS">
  
  <Menu>
    <Item Type="Link" link="http://www.google.com" text="لینک عادی"  />
    <Item Type="PDALink" link="SimpleTable1" text="لینک pda"  />
    <Item Type="Link" link="" text="مثال های جدول" >
      <SubItem Type="PDALink" link="SimpleTable1" PerKey="" text="جدول ساده "/>
      <SubItem Type="PDALink" link="SimpleTable2" PerKey="" text="جدول ساده با امکانات پیشرفته نمایشی  "/>
      <SubItem Type="PDALink" link="SimpleTable3" PerKey="" text="جدول ساده با پورسیجر  "/>
      <SubItem Type="PDALink" link="SimpleTable4" PerKey="" text="جدول ساده با دستور مستقیم بانک اطلاعاتی   "/>
      <SubItem Type="PDALink" link="SimpleTable5" PerKey="" text="جدول ساده با پارامتر    "/>
      <SubItem Type="PDALink" link="SimpleTable6" PerKey="" text=" جدول با قابلیت انتخاب "/>


      <SubItem Type="PDALink" link="SimpleTable7" PerKey="" text=" شیوه مختلف نمایش اطلاعات در جدول " />
      <SubItem Type="PDALink" link="SimpleTable8" PerKey="" text=" نمایش عبارت های تجمیعی  " />
      <SubItem Type="PDALink" link="SimpleTable9" PerKey="" text=" نمایش فرمول در جدول  " />
      <SubItem Type="PDALink" link="SimpleTable10" PerKey="" text=" انجام عملیات گزینشی  " />
      <SubItem Type="PDALink" link="SimpleTable11" PerKey="" text=" درج و ویرایش و حذف در یک صفحه " />
      <SubItem Type="PDALink" link="SimpleTable12" PerKey="" text=" ورودی های پیشرفته در جدول  " />
      <SubItem Type="PDALink" link="SimpleTable13" PerKey="" text=" تغییر در ردیف های جدول به صورت آفلاین " />
      <SubItem Type="PDALink" link="SimpleTable14" PerKey="" text=" تغییر در ردیف های جدول به صورت آنلاین " />
      <SubItem Type="PDALink" link="SimpleTable16" PerKey="" text="گزینش خودکار در جدول  " />
      <SubItem Type="PDALink" link="SimpleTable17" PerKey="" text="جدول پدر و فرزند  " />

    </Item>
  </Menu>
  <Pages>
    <!-- جدول ساده -->
    <Page ColumnCount="2" DBCommand="#city,SelectAll" type="DetailView"  link="SimpleTable1" Title="جدول ساده بدون پارامتر" name="SimpleTable1">
      <table  HideActionColumnn="Yes">
        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
      </table>
    </Page>
    <!-- جدول ساده با امکانات پیشرفته نمایشی -->
    <Page ColumnCount="2" DBCommand="#city,SelectAll" type="TableView"  link="SimpleTable2" Title="جدول ساده بدون پارامتر  با امکانات ساده نمایشی " name="SimpleTable2">
      <table  HideActionColumnn="Yes" BasicFilter="Yes" Sortable="Yes" RowNumberColumn="Yes" >
        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
      </table>
    </Page>
    <!-- جدول ساده با پورسیجر -->
    <Page ColumnCount="2" DBCommand="ShowAllCity" type="TableView"  link="SimpleTable3" Title="جدول ساده بدون پارامتر با پورسیجر " name="SimpleTable3">
      <table  HideActionColumnn="Yes"  >
        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
      </table>
    </Page>
    <!-- جدول ساده با دستور مستیقم -->
    <Page ColumnCount="2" DBCommand="? Select * from city  " type="TableView"  link="SimpleTable4" Title="جدول ساده با دستور مستقیم   " name="SimpleTable4">
      <table  HideActionColumnn="Yes"  >
        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
      </table>

    </Page>



    <!-- جدول ساده با پارامتر -->
    <Page ColumnCount="2" DBCommand="? Select * from city where cityTitle like '%' + @n + '%' " type="TableView"  link="SimpleTable5" Title="جدول ساده با پارامتر  " name="SimpleTable5">
      <table  HideActionColumnn="Yes"  >
        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
      </table>
      <PageParameter name="n" title="نام" type="String" source="form" />
    </Page>

    <!-- جدول ساده با قابلیت انتخاب  -->
    <Page ColumnCount="2" DBCommand="#city,SelectAll" PerKey=""  type="TableView"  link="SimpleTable6" Title="جدول ساده با قابلیت انتخاب " name="SimpleTable6">
      <table  HideActionColumnn="Yes" Selectable="Yes" BasicFilter="Yes" Sortable="Yes" >
        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
      </table>
    </Page>
    <!-- شیوه مختلف نمایش اطلاعات در جدول  -->
    <Page Title="شیوه مختلف نمایش اطلاعات در جدول " DBCommand="#person,SelectAll" link="SimpleTable7" ColumnCount="2" PerKey="person_Serach" type="TableView" name="SimpleTable7">
      <table HideActionColumnn="Yes" BasicFilter="Yes">
        <column title="شناسه" name="id" type="DisplayValue" ></column>
        <column title="نام" name="name" type="DisplayValue" ></column>


        <column title="حقوق پایه" name="salaryBase" type="Money" ></column>
        <column title="نمره آزمون" name="examResult" type="DisplayValue" ></column>
        <column title="تاریخ تولد" name="dateBrith" type="DisplayValue" ></column>
        <column title="معلویت جسمی" name="isBroken" type="Boolean" ></column>

        <column title="تصویر پرسنلی" name="picImage" type="Image"  Width="150px" linkSyntax="/upd/{{record.picImage}}" ></column>

      </table>


    </Page>
    <!--  نمایش عبارت تجمیعی  -->
    <Page ColumnCount="2" DBCommand="#city,SelectAll" type="TableView"  link="SimpleTable8" Title="نمایش عبارت های تجمیعی " name="SimpleTable8">
      <table  HideActionColumnn="Yes" BasicFilter="Yes" Sortable="Yes" RowNumberColumn="Yes" >
        <DisplayExpr title="تعداد ردیف ها " Expr="Count('*')"/>
        <DisplayExpr title="مجموع جمعیت  " Expr="Sum('CITYPop')"/>
        <DisplayExpr title="میانگین جمعیت  " Expr="Avg('CITYPop')"/>
        <DisplayExpr title="بیشترین جمعیت  " Expr="Max('CITYPop')"/>
        <DisplayExpr title="کمترین جمعیت  " Expr="Min('CITYPop')"/>

        <DisplayExpr title="فیلتر شده مجموع جمعیت  " Expr="SubSum('CITYPop')"/>

        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
        <column type="Money" name="CITYPop" title="جمعیت " />
      </table>
    </Page>

    <!--  نمایش فرمول در جدول  -->
    <Page ColumnCount="2" DBCommand="#city,SelectAll" type="TableView"  link="SimpleTable9" Title="نمایش فرمول در جدول  " name="SimpleTable9">
      <table  HideActionColumnn="Yes" BasicFilter="Yes" Sortable="Yes" RowNumberColumn="Yes" >



        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
        <column type="Money" name="CITYPop" title="جمعیت " />
        <column type="Expr" name="total" title="تست 1 " ParameterSyntax="{{ShowMoney(Num(record.CITYPop)*Num(record.cityId))}}"/>
        <column type="Expr" name="total" title="تست 2 " ParameterSyntax="{{record.cityId}} *** {{record.cityTitle}}"/>

      </table>
    </Page>
    <!-- انجام عملیات گزینی  -->
    <Page ColumnCount="2" DBCommand="#city,SelectAll" type="TableView"  link="SimpleTable10" Title=" انجام عملیات گزینشی   " name="SimpleTable10">
      <table  HideActionColumnn="Yes" BasicFilter="Yes" Sortable="Yes"  Selectable="Yes" RowNumberColumn="Yes" >



        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
        <column type="Money" name="CITYPop" title="جمعیت " />

      </table>
      <BatchCommand name="SaveNow" PerKey=""  >
        <Command DBCommand="? Update city set CITYPop=CityPOP*(1+(convert(float ,@n )/100.0)) where cityId=@id" Selection="Selected" StateMode="All" >
          <Parameter name="id" sourceType="Row" sourceTypeParameter="cityId" ></Parameter>
          <Parameter name="n" sourceType="PageParameter" sourceTypeParameter="P" caption="درصد" >
            <Check Type="ReqNumber"/>
          </Parameter>
        </Command>
      </BatchCommand>
      <PageParameter type="Float" name="P" title="درصد" dontSendToDb="Yes"  source="form" />
      <Button title="ثبت" action="BatchCommand" actionParameter="SaveNow"/>


    </Page>


    <!--صفحه ثبت و  ویرایش و حذف در یک  -->
    <Page Title="ثبت و ویرایش و حذف رکورد ها در یک جدول "  ColumnCount="1" link="SimpleTable11"  name="SimpleTable11"   DBCommand="#city,SelectAll" type="TableView" PerKey="" >
      <table BasicFilter="Yes"  Insertable="Yes" RowNumberColumn="Yes" Sortable="Yes"  >
        <column title="شناسه" name="cityId"  type="DisplayValue" ></column>
        <column title="عنوان" name="cityTitle"  type="InputString" ></column>
        <column title="جمعیت" name="CITYPop"  type="InputMoney" ></column>
        <column title="حذف ردیف" Caption="حذف" type="DeleteRow" ></column>
      </table>
      <Button action="InsertRecordToTable" title="ردیف جدید"/>
      <Button action="BatchCommand" actionParameter="Save" title="ذخیره"/>
      <BatchCommand name="Save" PerKey="">
        <Command DBCommand="#city,Insert" Selection="All" StateMode="Added">
          <Parameter caption=""  name="cityTitle" sourceType="Row" sourceTypeParameter="cityTitle">
            <Check Type="ReqString" />
          </Parameter>
          <Parameter caption=""  name="CITYPop" sourceType="Row" sourceTypeParameter="CITYPop">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
        <Command DBCommand="#city,UpdateTop,cityId,cityId" Selection="All" StateMode="Changed">
          <Parameter caption="شهر"  name="cityId" sourceType="Row" sourceTypeParameter="cityId">
            <Check Type="ReqString" />
          </Parameter>
          <Parameter caption=""  name="cityTitle" sourceType="Row" sourceTypeParameter="cityTitle">
            <Check Type="ReqString" />
          </Parameter>
          <Parameter caption=""  name="CITYPop" sourceType="Row" sourceTypeParameter="CITYPop">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
        <Command DBCommand="#city,DeleteTop,cityId,cityId" Selection="All" StateMode="Deleted">
          <Parameter caption="شهر"  name="cityId" sourceType="Row" sourceTypeParameter="cityId">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
      </BatchCommand>
    </Page>


    <!--
    ورودی های پیشرفته در جدول 
    -->
    <Page Title="ورودی های پیشرفته در جدول " DBCommand="#person,SelectAll" link="SimpleTable12" ColumnCount="2" PerKey="person_Serach" type="TableView" name="SimpleTable12">
      <table HideActionColumnn="Yes" BasicFilter="Yes">
        <column title="شناسه" name="id" type="DisplayValue" ></column>
        <column title="نام" name="name" type="InputString" ></column>


        <column title="حقوق پایه" name="salaryBase" type="InputMoney" ></column>
        <column title="نمره آزمون" name="examResult" type="InputFloat" ></column>
        <column title="تاریخ تولد" name="dateBrith" type="InputDate" ></column>
        <column title="معلویت جسمی" name="isBroken" type="InputCombo" >
          <option value="False" text="خیر"/>
          <option value="True" text="بله"/>
        </column>
        <column title="جنسیت" name="sextype" type="InputSelect2" >
          <option value="0" text="مرد"/>
          <option value="1" text="زن"/>
        </column>
        <column title="جنسیت" name="cityid" type="InputSelect2Ajax"  DBSelect2Command="QuickSerach_Incity" textColumn="title" codeColumn="value"  >
          <DBSelectCommandParameter name="q" source="term"/>
        </column>
      </table>


    </Page>
    <!-- تغییر در رکورد جاری ردیف جاری-->
    <Page ColumnCount="2" DBCommand="?Select top(1) -1 id,0 price ,0 count" link="SimpleTable13" name="SimpleTable13" type="TableView" PerKey="" Title="تغییر در مقادیر به صورت آفلاین" >
      <table HideActionColumnn="Yes"   >
        <column name="price" title="فی" type="InputMoney" StaticJavaScriptAfterChange="record.total=Num(record.price)*Num(record.count)" />
        <column name="count" title="تعداد" type="InputMoney" StaticJavaScriptAfterChange="record.total=Num(record.price)*Num(record.count)"  />
        <column name="total" title="جمع" type="Money" />
      </table>


    </Page>
    <!-- تغییر در مقادیر ردیف جدول به صورت آنلاین -->
    <Page ColumnCount="2" DBCommand="#city,SelectAll"  type="TableView"  link="SimpleTable14" Title="تغییر در مقادیر ردیف جدول به صورت آنلاین   " name="SimpleTable14">
      <Note Text="سلام" />
      <table  HideActionColumnn="Yes" BasicFilter="Yes" Sortable="Yes"   >
        <column title="شهر" Width="50%" name="cityid" type="InputSelect2Ajax" Parameter="cityTitle" AjaxActionChange="GetPop" ParameterSyntax="record.cityid"  DBSelect2Command="QuickSerach_Incity" textColumn="title" codeColumn="value"  >
          <DBSelectCommandParameter name="q" source="term"/>
        </column>
        <column title="جمعیت" name="CITYPop" Width="50%" type="Money" />



      </table>

    </Page>
    <!-- گزینش خودکار در جدول  -->
    <Page ColumnCount="2" DBCommand="#city,SelectAll" type="TableView"  link="SimpleTable16" Title=" گزینش خودکار در جدول  " name="SimpleTable16">
      <table AutoSelectCond="Num(record.CITYPop)>15000" HideActionColumnn="Yes"  Selectable="Yes" BasicFilter="Yes" Sortable="Yes" RowNumberColumn="Yes" >
        <column type="DisplayValue" name="cityId" title="کد شهر" />
        <column type="DisplayValue" name="cityTitle" title="عنوان شهر" />
        <column type="Money" name="CITYPop" title="جمعیت " />
      </table>
    </Page>
   <!--  جدول اصلی و جزییات-->
    <Page name="SimpleTable17" link="SimpleTable17" ColumnCount="2" DBCommand="?Select * from RequestDetail where 1=2" PerKey="None" Title="جدول های اصل و جزیئات " type="TableView" >
      <table  Insertable="Yes">
        
        <column title="شهر"   name="cityid" type="InputSelect2Ajax"  Parameter="cityTitle" AjaxActionChange="GetPop" ParameterSyntax="record.cityid"  DBSelect2Command="QuickSerach_Incity" textColumn="title" codeColumn="value"  >
          <DBSelectCommandParameter name="q" source="term"/>
        </column>
        <column title="حذف" Caption="حذف" type="DeleteRow" />
      </table>
        <PageParameter title="کد شخص" source="form" name="PerId" type="Select2Ajax"   codeColumn="value" textColumn="title" DBSelect2Command="QuickSerach_Inperson" dontSendToDb="Yes">
        <DBSelectCommandParameter source="term" name="q"/>
     
      </PageParameter>
      <PageParameter name="DateSave" type="Date" title="تاریخ ثبت"  dontSendToDb="Yes" source="form" ></PageParameter>
      <Button title="ردیف جدید" action="InsertRecordToTable"/> 
        <Button title="ثبت" action="BatchCommand" actionParameter="Save"/> 
      <BatchCommand name="Save" PerKey="Sa" >
       <Command DBCommand="#Request,InsertIdentity" Selection="OneTime" StateMode="All" >
         <Parameter sourceType="PageParameter" name="PerId" caption="شخص" sourceTypeParameter="PerId" >
           <Check Type="ReqSelect2"/>
         </Parameter>
         <Parameter sourceType="PageParameter" name="DateSave" caption="تاریخ ثبت" sourceTypeParameter="DateSave" >
           <Check Type="ReqDate" />
         </Parameter>
       
       </Command>
       <Command DBCommand="#RequestDetail,Insert" Selection="All" StateMode="Added" >
          <Parameter name="ReqId" sourceType="ScallerValues" sourceTypeParameter="0" >
            
          </Parameter>
         <Parameter name="cityid" caption="کد شهر" sourceType="Row" sourceTypeParameter="cityid">
           <Check Type="ReqSelect2"/>
         </Parameter>
       </Command>
      </BatchCommand>
    </Page>

    <!-- نمایش عملیا -->
    
      
    <!-- مدیریت درجا -->
    <Page Title="person_Serach" name="person_Serach" link="person_Serach" ColumnCount="2" PerKey="person_Serach" type="TableView" DBCommand="person_Serach">

      <table>
        <column title="شناسه" name="id" type="DisplayValue" ></column>
        <column title="نام" name="name" type="DisplayValue" ></column>
        <column title="رتبه شغلی" name="grade" type="DisplayValue" ></column>
        <column title="شهر" name="cityid" type="DisplayValue" ></column>

        <column title="حقوق پایه" name="salaryBase" type="DisplayValue" ></column>
        <column title="نمره آزمون" name="examResult" type="DisplayValue" ></column>
        <column title="تاریخ تولد" name="dateBrith" type="DisplayValue" ></column>

        <column title="تصویر پرسنلی" name="picImage" type="DisplayValue" ></column>

        <column title="ویرایش "  type="PDALink"  Caption="ویرایش" linkSyntax="person_Edit/{{record.id}}"></column>
        <column title="حذف "   type="AjaxAction" AskMessage="آیا مطممن هستید?" AjaxAction="person_Delete" ParameterSyntax="'{{record.id}}'"   Caption="حذف"></column>
      </table>
      <PageParameter title="شناسه" DefaultValueSource="Static" DefaultValueParameter="-1" name="id" type="Integer" source="form" > </PageParameter>
      <PageParameter title="نام" name="name" type="String" source="form" > </PageParameter>

      <Button title="جدید" action="goToPage" actionParameter="person_Insert" />

    </Page>

    <!-- مثال انواع شخص جدید  -->
    <Page Title="درج با انواع پارامتر ها" name="person_Insert" link="person_Insert_Sp" ColumnCount="2" PerKey="person_Insert_Sp" type="ScallerForm" DBCommand="person_Insert_Sp">
      <PageParameter title="نام" name="name" type="String" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="رتبه شغلی" name="grade" type="Select2" source="form" >
        <option value="0" text="رده سوم"/>
        <option value="1" text="رده دوم"/>
        <option value="2" text="رده یکم"/>
        <option value="3" text="رده ارشد"/>
        <option value="4" text="ریاست"/>
        <ParameterCheck Cond="Reg"></ParameterCheck>

      </PageParameter>
      <PageParameter title="شهر" name="cityid" type="Select2Ajax" DBSelect2Command="QuickSerach_Incity" textColumn="title" codeColumn="value" source="form" >
        <DBSelectCommandParameter name="q" source="term"/>
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="جنسیت" name="sextype" type="DropDown" source="form" >
        <option text="مرد" value="0"/>
        <option text="زن" value="1"/>
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="حقوق پایه" name="salaryBase" type="Money" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="نمره آزمون" name="examResult" type="Float" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="تاریخ تولد" name="dateBrith" type="Date" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="ساعت شروع کار" name="startTime" type="Time" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="خلاصه زندگی " name="smailBio" type="TextArea" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="سایر توضیحات" name="smailHtml" type="Html" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="رنگ مورد علاقه" name="favColor" type="Color" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="تصویر پرسنلی" name="picImage" type="FileInput" MaxFileSize="2048" FilePathAtServer="~/upd/" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
        <FileAllow ext="jpg"/>
        <FileAllow ext="png"/>
      </PageParameter>
      <PageParameter title="دارای معولیت جسمی" name="isBroken" type="CheckBox" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
    </Page>
    <!-- مثال های انواع پارامتر ها ویرایش  -->
    <Page Title="person_Update_Sp" name="person_Edit" link="person_Edit" queryString="/:id"   ValueDbCommand="person_SelectRow"   ColumnCount="2" PerKey="person_Update_Sp" type="ScallerForm" DBCommand="person_Update_Sp">
      <ValueParameter name="id" value="id" source="QueryString"></ValueParameter>
      <PageParameter title="" name="id" type="Integer" source="QueryString"   Parameter="id" > </PageParameter>
      <PageParameter title="" name="name" type="String" source="form"  startValueType="DbValueCommand" Parameter="name" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="رتبه شغلی" name="grade" type="DropDown" source="form"  startValueType="DbValueCommand" Parameter="grade" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="شهر" name="cityid" type="Integer" source="form"  startValueType="DbValueCommand" Parameter="cityid" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="جنسیت" name="sextype" type="DropDown" source="form"  startValueType="DbValueCommand" Parameter="sextype" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="حقوق پایه" name="salaryBase" type="Integer" source="form"  startValueType="DbValueCommand" Parameter="salaryBase" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="نمره آزمون" name="examResult" type="Float" source="form"  startValueType="DbValueCommand" Parameter="examResult" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="تاریخ تولد" name="dateBrith" type="Date" source="form"  startValueType="DbValueCommand" Parameter="dateBrith" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="ساعت شروع کار" name="startTime" type="String" source="form"  startValueType="DbValueCommand" Parameter="startTime" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="خلاصه زندگی " name="smailBio" type="String" source="form"  startValueType="DbValueCommand" Parameter="smailBio" >

        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="سایر توضیحات" name="smailHtml" type="String" source="form"  startValueType="DbValueCommand" Parameter="smailHtml" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="رنگ مورد علاقه" name="favColor" type="String" source="form"  startValueType="DbValueCommand" Parameter="favColor" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="تصویر پرسنلی" name="picImage" type="String" source="form"  startValueType="DbValueCommand" Parameter="picImage" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="دارای معولیت جسمی" name="isBroken" type="CheckBox" source="form"  startValueType="DbValueCommand" Parameter="isBroken" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
    </Page>

  </Pages>
  <Actions>


    <action name="person_Delete"    DBCommand="person_Delete_Sp" PerKey="person_Delete_Sp">
      <actionParameter name="id" type="input" Parameter="id"></actionParameter>
    </action>
    <action name="GetPop"    DBCommand="? select CITYPop from city where cityId=@id" PerKey="person_Delete_Sp">
      <actionParameter name="id" type="input" Parameter="id"></actionParameter>
    </action>

  </Actions>

</Application>


