<?xml version="1.0" encoding="utf-8"  ?>

<Application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
 
      xsi:schemaLocation="urn:MyData ../PDA0.02.xsd"  CopyRightMessage="پروژه اصلی توان گستر لیان"  DBType="SQLSERVER" Title="آب رسانی خلیج فارس " Name="ItConnect" Theme="Paper" ConnectionSetthing="Data Source=.\sqlexpress;Initial Catalog=waterAcc2;Integrated Security=True">
  <Menu >
    <Item Type="Link" link="" text="واگذاری انشعاب" >
      <SubItem link=""/>
      
    </Item>
    
  </Menu>
  <Pages>

    <Page Title="sp_Request_Insert" name="sp_Request_Insert" link="sp_Request_Insert" ColumnCount="2" PerKey="sp_Request_Insert" type="TableView" DBCommand="sp_Request_Insert">
      <table>
      </table>
      <PageParameter  title="نام " name="Req_fName" type="String" source="form" > </PageParameter>
      <PageParameter  title="نام خانوادگی" name="Req_lname" type="String" source="form" > </PageParameter>
      <PageParameter  title="شخص حقیقی هست؟" name="Req_cu_isReal" type="CheckBox" source="form" > </PageParameter>
      <PageParameter  title="میزان درخواستی" name="Req_target_Sup" type="Float" source="form" > </PageParameter>
      <PageParameter  title="" name="req_min_Sup" type="Float" source="form" > </PageParameter>
      <PageParameter  title="" name="Req_max_sup" type="Float" source="form" > </PageParameter>
      <PageParameter DefaultValueSource="Static" DefaultValueParameter="-1" title="" name="Req_tar_push" type="Integer" source="form" > </PageParameter>
      <PageParameter  title="زمان درخواستی" name="req_etDate" type="Date" source="form" > </PageParameter>
      <PageParameter  title="زمان درخواستی" name="req_stDate" type="Date" source="form" > </PageParameter>
      <PageParameter  title="" name="UserInsert" type="String" source="form" > </PageParameter>
      <PageParameter  title="ایمیل جهت اعلام رد یا قبول درخواست" name="emailToNot" type="String" source="form" > </PageParameter>
      <PageParameter  title="شماره موبایل  جهت اعلام رد یا قبول درخواست" name="mobileToNot" type="String" source="form" > </PageParameter>
      <PageParameter  title="کد اقتصادی" name="bussCode" type="String" source="form" > </PageParameter>
      <PageParameter  title="شماره ملی" name="natCode" type="String" source="form" > </PageParameter>
      <PageParameter  title="شناسه پی گیری" name="Req_tokenId" type="String" source="form" > </PageParameter>
      <PageParameter  title="توضیحات اضافه توسط شرکت" name="Req_subbreif" type="String" source="form" > </PageParameter>
      <PageParameter  title="محل آبگیری " name="Req_place_dewater" type="String" source="form" > </PageParameter>
    </Page>


    <Page Title="sp_Request_Insert" name="sp_Request_Insert" link="sp_Request_Insert" ColumnCount="2" PerKey="sp_Request_Insert" type="TableView" DBCommand="sp_Request_Insert">
      <table>
      </table>
      <PageParameter  title="نام " name="Req_fName" type="String" source="form" >
        <ParameterCheck Cond="Reg"/>
      </PageParameter>
      <PageParameter  title="نام خانوادگی" name="Req_lname" type="String" source="form" > </PageParameter>
      <PageParameter  title="شخص حقیقی هست؟" name="Req_cu_isReal" type="CheckBox" source="form" > </PageParameter>
      <PageParameter  title="میزان درخواستی" name="Req_target_Sup" type="Float" source="form" > </PageParameter>
      <PageParameter  title="حداقل مقدار درخواستی" name="req_min_Sup" type="Float" source="form" > </PageParameter>
      <PageParameter  title="حداکثر میزان درخواستی" name="Req_max_sup" type="Float" source="form" > </PageParameter>
      <PageParameter DefaultValueSource="Static" DefaultValueParameter="-1" title="میزان فشار" name="Req_tar_push" type="Integer" source="form" > </PageParameter>
      <PageParameter  title="شروع زمان درخواستی" name="req_etDate" type="Date" source="form" > </PageParameter>
      <PageParameter  title="پایان زمان درخواستی" name="req_stDate" type="Date" source="form" > </PageParameter>
      <PageParameter  title="" name="UserInsert" type="String" source="Expr" sorurceParameter="Nothing..." > </PageParameter>
      <PageParameter  title="ایمیل جهت اعلام رد یا قبول درخواست" name="emailToNot" type="String" source="form" > </PageParameter>
      <PageParameter  title="شماره موبایل  جهت اعلام رد یا قبول درخواست" name="mobileToNot" type="String" source="form" > </PageParameter>
      <PageParameter  title="کد اقتصادی" name="bussCode" type="String" source="form" > </PageParameter>
      <PageParameter  title="شماره ملی" name="natCode" type="String" source="form" > </PageParameter>
      <PageParameter  title="شناسه پی گیری" name="Req_tokenId" type="String" source="SpecValue" sorurceParameter="Random" > </PageParameter>
      <PageParameter  title="توضیحات اضافه توسط شرکت" name="Req_subbreif" type="TextArea" source="form" > </PageParameter>
      <PageParameter  title="محل آبگیری " name="Req_place_dewater" type="TextArea" source="form" > </PageParameter>
    </Page>


  </Pages>
</Application>



