<?xml version="1.0" encoding="utf-8"  ?>
<Application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
 
      xsi:schemaLocation="urn:MyData ../PDA0.02.xsd"   DBType="SQLSERVER" Title="سیستم انبار داری پرواز" Name="ParvizStorage" Theme="Yeti" ConnectionSetthing="Data Source=.\sqlexpress;Initial Catalog=StoagePDAL;Integrated Security=True">
  <Menu >
    <Item link="" text="تعاریف پایه"  Type="Link">
      <SubItem text="نوع کالا" Type="PDALink" link="ProductType_mgt" PerKey=""/>
      <SubItem text="واحد کالا" Type="PDALink" link="unit_mgt" PerKey=""/>
      <SubItem text="کارخانه" Type="PDALink" link="factory_mgt" PerKey=""/>
      <SubItem text="کارخانه" Type="PDALink" link="factory_mgt" PerKey=""/>
      <SubItem text="انبار ها" Type="PDALink" link="Storage_mgt" PerKey=""/>
 <SubItem text="کالا ها" Type="PDALink" link="Product_mgt" PerKey=""/>
    </Item>
  </Menu>
  <Pages>

    <Page Title="تعریف نوع کالا"  ColumnCount="1" link="ProductType_mgt"  name="ProductType_mgt" DBCommand="#ProductType,SelectAll" type="TableView" PerKey="" >
      <table BasicFilter="Yes"  Insertable="Yes" RowNumberColumn="Yes" Sortable="Yes"  >
        <column title="شناسه نوع کالا" name="ProductTypeId"  type="DisplayValue" ></column>
        <column title="عنوان" name="ProductTypeName"  type="InputString" ></column>
        <column title="حذف ردیف" Caption="حذف" type="DeleteRow" ></column>
      </table>
      <Button action="InsertRecordToTable" title="ردیف جدید"/>
      <Button action="BatchCommand" actionParameter="Save" title="ذخیره"/>
      <BatchCommand name="Save" PerKey="">
        <Command DBCommand="#ProductType,Insert" Selection="All" StateMode="Added">
          <Parameter caption="عنوان کالا"  name="ProductTypeName" sourceType="Row" sourceTypeParameter="ProductTypeName">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
        <Command DBCommand="#ProductType,UpdateTop,ProductTypeId,ProductTypeId" Selection="All" StateMode="Changed">
          <Parameter caption="شناسه کالا"  name="ProductTypeId" sourceType="Row" sourceTypeParameter="ProductTypeId">
            <Check Type="ReqString" />
          </Parameter>
          <Parameter caption="عنوان کالا"  name="ProductTypeName" sourceType="Row" sourceTypeParameter="ProductTypeName">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
        <Command DBCommand="#ProductType,DeleteTop,ProductTypeId,ProductTypeId" Selection="All" StateMode="Deleted">
          <Parameter caption=""  name="ProductTypeId" sourceType="Row" sourceTypeParameter="ProductTypeId">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
      </BatchCommand>
    </Page>

    <Page Title="تعاریف واحد کالا"  ColumnCount="1" link="unit_mgt"  name="unit_mgt"  DBCommand="#unit,SelectAll" type="TableView" PerKey="" >
      <table BasicFilter="Yes"  Insertable="Yes" RowNumberColumn="Yes" Sortable="Yes"  >
        <column title="شناسه واحد کالا" name="unit_id"  type="DisplayValue" ></column>
        <column title="عنوان" name="unit_name"  type="InputString" ></column>
        <column title="حذف ردیف" Caption="حذف" type="DeleteRow" ></column>
      </table>
      <Button action="InsertRecordToTable" title="ردیف جدید"/>
      <Button action="BatchCommand" actionParameter="Save" title="ذخیره"/>
      <BatchCommand name="Save" PerKey="">
        <Command DBCommand="#unit,Insert" Selection="All" StateMode="Added">
          <Parameter caption="عنوان"  name="unit_name" sourceType="Row" sourceTypeParameter="unit_name">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
        <Command DBCommand="#unit,UpdateTop,unit_id,unit_id" Selection="All" StateMode="Changed">
          <Parameter caption="شناسه واحد کالا"  name="unit_id" sourceType="Row" sourceTypeParameter="unit_id">
            <Check Type="ReqString" />
          </Parameter>
          <Parameter caption="عنوان"  name="unit_name" sourceType="Row" sourceTypeParameter="unit_name">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
        <Command DBCommand="#unit,DeleteTop,unit_id,unit_id" Selection="All" StateMode="Deleted">
          <Parameter caption="شناسه واحد کالا"  name="unit_id" sourceType="Row" sourceTypeParameter="unit_id">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
      </BatchCommand>
    </Page>

    <Page Title="تعریف کارخانه ها"  ColumnCount="1" link="factory_mgt"  name="factory_mgt"   DBCommand="#factory,SelectAll" type="TableView" PerKey="" >
      <table BasicFilter="Yes"  Insertable="Yes" RowNumberColumn="Yes" Sortable="Yes"  >
        <column title="شناسه" name="FactoryId"  type="DisplayValue" ></column>
        <column title="عنوان" name="FactoryName"  type="InputString" ></column>
        <column title="حذف ردیف" Caption="حذف" type="DeleteRow" ></column>
      </table>
      <Button action="InsertRecordToTable" title="ردیف جدید"/>
      <Button action="BatchCommand" actionParameter="Save" title="ذخیره"/>
      <BatchCommand name="Save" PerKey="">
        <Command DBCommand="#factory,Insert" Selection="All" StateMode="Added">
          <Parameter caption="عنوان"  name="FactoryName" sourceType="Row" sourceTypeParameter="FactoryName">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
        <Command DBCommand="#factory,UpdateTop,FactoryId,FactoryId" Selection="All" StateMode="Changed">
          <Parameter caption="شناسه"  name="FactoryId" sourceType="Row" sourceTypeParameter="FactoryId">
            <Check Type="ReqString" />
          </Parameter>
          <Parameter caption="عنوان"  name="FactoryName" sourceType="Row" sourceTypeParameter="FactoryName">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
        <Command DBCommand="#factory,DeleteTop,FactoryId,FactoryId" Selection="All" StateMode="Deleted">
          <Parameter caption="شناسه"  name="FactoryId" sourceType="Row" sourceTypeParameter="FactoryId">
            <Check Type="ReqString" />
          </Parameter>
        </Command>
      </BatchCommand>
    </Page>



    <Page Title="مدیریت انبار ها" name="Storage_mgt" link="Storage_Serach" ColumnCount="2" PerKey="Storage_Serach" type="TableView" DBCommand="Storage_Serach">
      <table>
        <column title="شناسه" name="StroageId" type="DisplayValue" ></column>
        <column title="عنوان" name="StraogeName" type="DisplayValue" ></column>
        <column title="آدرس" name="address" type="DisplayValue" ></column>
        <column title="مسئول انبار" name="stroageMosaul" type="DisplayValue" ></column>
        <column title="ویرایش "  type="PDALink"  Caption="ویرایش" linkSyntax="Storage_Edit/{{record.StroageId}}"></column>
        <column title="حذف "   type="AjaxAction" AskMessage="آیا مطممن هستید?" AjaxAction="Storage_Delete" ParameterSyntax="'{{record.StroageId}}'"   Caption="حذف"></column>
      </table>
      <PageParameter title="شناسه" name="StroageId" type="Integer" source="form" DefaultValueSource="Static" DefaultValueParameter="-1" > </PageParameter>
      <PageParameter title="عنوان" name="StraogeName" type="String" source="form" > </PageParameter>
      <PageParameter title="آدرس" name="address" type="TextArea" source="form" > </PageParameter>
      <PageParameter title="مسئول انبار" name="stroageMosaul" type="String" source="form" > </PageParameter>
      <Button title="جدید" action="goToPage" actionParameter="Storage_Insert" />
    </Page>

    <Page Title="انبار" name="Storage_Insert" link="Storage_Insert_Sp" ColumnCount="1" PerKey="Storage_Insert_Sp" type="ScallerForm" DBCommand="Storage_Insert_Sp">
      <PageParameter title="عنوان" name="StraogeName" type="String" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>

      <PageParameter title="مسئول انبار" name="stroageMosaul" type="String" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="آدرس" name="address" type="TextArea" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
    </Page>

    <Page Title="ویرایش انبار" name="Storage_Edit" link="Storage_Edit" queryString="/:StroageId"   ValueDbCommand="Storage_SelectRow"   ColumnCount="1" PerKey="Storage_Update_Sp" type="ScallerForm" DBCommand="Storage_Update_Sp">
      <ValueParameter name="StroageId" value="StroageId" source="QueryString"></ValueParameter>
      <PageParameter title="شناسه" name="StroageId" type="Integer" source="QueryString"   Parameter="StroageId" > </PageParameter>
      <PageParameter title="عنوان" name="StraogeName" type="String" source="form"  startValueType="DbValueCommand" Parameter="StraogeName" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>

      <PageParameter title="مسئول انبار" name="stroageMosaul" type="String" source="form"  startValueType="DbValueCommand" Parameter="stroageMosaul" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="آدرس" name="address" type="TextArea" source="form"  startValueType="DbValueCommand" Parameter="address" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
    </Page>


    <Page Title="مدیریت کالا" name="Product_mgt" link="Product_Serach" ColumnCount="2" PerKey="Product_Serach" type="TableView" DBCommand="Product_Serach">
      <table>
        <column title="شناسه" name="ProductId" type="DisplayValue" ></column>
        <column title="عنوان کالا" name="ProductName" type="DisplayValue" ></column>
        <column title="شناسه نوع کالا" name="ProductTypeId" type="DisplayValue" ></column>
        <column title="واحد جز" name="UnitId" type="DisplayValue" ></column>
        <column title="واحد کل" name="UnitBoxId" type="DisplayValue" ></column>
        <column title="کارخانه" name="FactoryId" type="DisplayValue" ></column>
        <column title="تعداد جز" name="UnitBoxCount" type="DisplayValue" ></column>
        <column title="ویرایش "  type="PDALink"  Caption="ویرایش" linkSyntax="Product_Edit/{{record.ProductId}}"></column>
        <column title="حذف "   type="AjaxAction" AskMessage="آیا مطممن هستید?" AjaxAction="Product_Delete" ParameterSyntax="'{{record.ProductId}}'"   Caption="حذف"></column>
      </table>
      <PageParameter title="شناسه" name="ProductId" type="Integer" source="form" > </PageParameter>
      <PageParameter title="عنوان کالا" name="ProductName" type="String" source="form" > </PageParameter>
      <PageParameter title="شناسه نوع کالا" name="ProductTypeId" type="Integer" source="form" > </PageParameter>
      <PageParameter title="کارخانه" name="FactoryId" type="Integer" source="form" > </PageParameter>
      <Button title="جدید" action="goToPage" actionParameter="Product_Insert" />
    </Page>

    <Page Title="کالای جدید" name="Product_Insert" link="Product_Insert_Sp" ColumnCount="2" PerKey="Product_Insert_Sp" type="ScallerForm" DBCommand="Product_Insert_Sp">
      <PageParameter title="شناسه" name="ProductId" type="Integer" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="عنوان کالا" name="ProductName" type="String" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="شناسه نوع کالا" name="ProductTypeId" type="Integer" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="واحد جز" name="UnitId" type="Integer" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="واحد کل" name="UnitBoxId" type="Integer" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="شناسه" name="FactoryId" type="Integer" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="تعداد جز" name="UnitBoxCount" type="Integer" source="form" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
    </Page>

    <Page Title="ویرایش کالا" name="Product_Edit" link="Product_Edit" queryString="/:ProductId"   ValueDbCommand="Product_SelectRow"   ColumnCount="2" PerKey="Product_Update_Sp" type="ScallerForm" DBCommand="Product_Update_Sp">
      <ValueParameter name="ProductId" value="ProductId" source="QueryString"></ValueParameter>
      <PageParameter title="شناسه" name="ProductId" type="Integer" source="QueryString"   Parameter="ProductId" > </PageParameter>
      <PageParameter title="عنوان کالا" name="ProductName" type="String" source="form"  startValueType="DbValueCommand" Parameter="ProductName" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="شناسه نوع کالا" name="ProductTypeId" type="Integer" source="form"  startValueType="DbValueCommand" Parameter="ProductTypeId" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="واحد جز" name="UnitId" type="Integer" source="form"  startValueType="DbValueCommand" Parameter="UnitId" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="واحد کل" name="UnitBoxId" type="Integer" source="form"  startValueType="DbValueCommand" Parameter="UnitBoxId" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="شناسه" name="FactoryId" type="Integer" source="form"  startValueType="DbValueCommand" Parameter="FactoryId" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
      <PageParameter title="تعداد جز" name="UnitBoxCount" type="Integer" source="form"  startValueType="DbValueCommand" Parameter="UnitBoxCount" >
        <ParameterCheck Cond="Reg"></ParameterCheck>
      </PageParameter>
    </Page>



  </Pages>

  <Actions>
    <action name="Storage_Delete"    DBCommand="Storage_Delete_Sp" PerKey="Storage_Delete_Sp">
      <actionParameter name="StroageId" type="input" Parameter="StroageId"></actionParameter>
    </action>


    <action name="Product_Delete"    DBCommand="Product_Delete_Sp" PerKey="Product_Delete_Sp">
      <actionParameter name="ProductId" type="input" Parameter="ProductId"></actionParameter>
    </action>



  </Actions>  
</Application>



