درصد مالیات بر ارزش افزوده
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
  </div>
    </from>
  <script>
    
    billPercent_mgt.IntForm=function()
    {
        document.title='درصد مالیات بر ارزش افزوده';
        window.pageName='billPercent_mgt';
    window.fileUploaded=false;
    
    }
    $(document).ready(function () {
    billPercent_mgt.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>
<a onclick='billPercent_mgt.InsertRecord()' ><button type="button" class="btn btn-default" >ردیف جدید</button></a>
<a onclick='billPercent_mgt.Save()' ><button type="button" class="btn btn-default" >ذخیره</button></a>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
<th>ردیف</th>
 <th  class="Pointer"  ng-click="ChageTableOrder('BillId')"  > <span ng-show="((currentOrder=='BillId') && (rev) )">V</span> <span ng-show="((currentOrder=='BillId') && (!rev) )">^</span>شناسه</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('startdate')"  > <span ng-show="((currentOrder=='startdate') && (rev) )">V</span> <span ng-show="((currentOrder=='startdate') && (!rev) )">^</span>از تاریخ</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('enddate')"  > <span ng-show="((currentOrder=='enddate') && (rev) )">V</span> <span ng-show="((currentOrder=='enddate') && (!rev) )">^</span>تا تاریخ</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('percent')"  > <span ng-show="((currentOrder=='percent') && (rev) )">V</span> <span ng-show="((currentOrder=='percent') && (!rev) )">^</span>درصد</th> 
<th>
    عملیات
</th>
      </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index" ng-repeat="record in billPercent_mgtrecords | orderBy:currentOrder :rev | filter:FilterValue " >
<td data-label="ردیف">{{$index+1}}</td>
<td data-label='شناسه'>{{record.BillId}}</td> 
   <td data-label='از تاریخ'>
      <input  type="text"  onkeypress="return blockNonDateNumber(event)" id="startdate_{{record.rndId}}" ng-change="ChangeState(record);"  created="False" onfocus="if($(this).attr('created')=='False') { $(this).attr('created','True')  ; kamaDatepicker(this.id,{ buttonsColor: 'red' ,sync:'true',highlightSelectedDay:'true'});  this.focus();  } " data-type="date"   onBlur="ReformatDate(this.id)"  class="form-control"   placeholder="yyyy/mm/dd" max-length="10"    value="{{record.startdate}}" ng-model="record.startdate"  ></input>
 </td> 
  <td data-label='تا تاریخ'>
      <input  type="text"  onkeypress="return blockNonDateNumber(event)" id="enddate_{{record.rndId}}" ng-change="ChangeState(record);"  created="False" onfocus="if($(this).attr('created')=='False') { $(this).attr('created','True')  ; kamaDatepicker(this.id,{ buttonsColor: 'red' ,sync:'true',highlightSelectedDay:'true'});  this.focus();  } " data-type="date"   onBlur="ReformatDate(this.id)"  class="form-control"   placeholder="yyyy/mm/dd" max-length="10"    value="{{record.enddate}}" ng-model="record.enddate"  ></input>
 </td> 
  <td data-label='درصد'><input class="form-control" type="text" id="percent_{{record.rndId}}"   value="{{record.percent}}" ng-change="ChangeState(record);"   ng-model="record.percent"  /></td> 
              <td data-label=''>
 <div class="btn-group">
 <button type="button" class="btn btn-default dropdown-toggle "
 data-toggle="dropdown">
 عملیات <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
 <li ><a   ng-click="RemoveItem( record)"   >حذف</a></li> 

 </ul>
</div>
</td>
     </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             billPercent_mgt.Serach();
                      });
    
     </script>