تعریف انواع مشتریان 
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
  </div>
    </from>
  <script>
         
    cus_group_mgt.IntForm=function()
    {
        document.title='تعریف انواع مشتریان ';
        window.pageName='cus_group_mgt';
    window.fileUploaded=false;
    
    }
    $(document).ready(function () {
    cus_group_mgt.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>
<a onclick='cus_group_mgt.InsertRecord()' ><button type="button" class="btn btn-default" >ردیف جدید</button></a>
<a onclick='cus_group_mgt.Save()' ><button type="button" class="btn btn-default" >ذخیره</button></a>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
<th>ردیف</th>
 <th  class="Pointer"  ng-click="ChageTableOrder('cus_group_id')"  > <span ng-show="((currentOrder=='cus_group_id') && (rev) )">V</span> <span ng-show="((currentOrder=='cus_group_id') && (!rev) )">^</span>گروه مشتریان</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('cus_group_name')"  > <span ng-show="((currentOrder=='cus_group_name') && (rev) )">V</span> <span ng-show="((currentOrder=='cus_group_name') && (!rev) )">^</span>عنوان گروه</th> 
<th>
    عملیات
</th>
      </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index" ng-repeat="record in cus_group_mgtrecords | orderBy:currentOrder :rev | filter:FilterValue " >
<td data-label="ردیف">{{$index+1}}</td>
<td data-label='گروه مشتریان'>{{record.cus_group_id}}</td> 
  <td data-label='عنوان گروه'><input class="form-control" type="text" id="cus_group_name_{{record.rndId}}" value="{{record.cus_group_name}}" ng-change="ChangeState(record);"  ng-model="record.cus_group_name"  /></td> 
               <td data-label=''>
 <div class="btn-group">
 <button type="button" class="btn btn-default dropdown-toggle "
 data-toggle="dropdown">
 عملیات <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
 <li ><a   ng-click="RemoveItem( record)"   >حذف</a></li> 

 </ul>
</div>
</td>
     </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             cus_group_mgt.Serach();
                      });
    
     </script>