فاکتور جدید
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
    <label  for="FactoryNumber" class="col-sm-2 control-label">           شماره فاکتور
      :</label>
    <div   class="col-sm-2">
   
            <input type="text"   class="form-control" id="txtFactor_InsertFactoryNumber" placeholder=""  Liquid error: Value cannot be null.
Parameter name: input  Liquid error: Value cannot be null.
Parameter name: input placeholder="" />
      
                                                                                                                
    </div>
    <label  for="CusAccId" class="col-sm-2 control-label">           شناسه مشتری
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                      <select class="form-control" id="txtFactor_InsertCusAccId" Liquid error: Value cannot be null.
Parameter name: input  Liquid error: Value cannot be null.
Parameter name: input ></select>
                      
    </div>
    <label  for="FactoryDate" class="col-sm-2 control-label">           تاریخ فاکتور
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                                  <input  type="text"  onkeypress="return blockNonDateNumber(event)" Liquid error: Value cannot be null.
Parameter name: input  Liquid error: Value cannot be null.
Parameter name: input onBlur="ReformatDate('txtFactor_InsertFactoryDate')"  class="form-control" id="txtFactor_InsertFactoryDate" placeholder="yyyy/mm/dd" max-length="10" ></input>
          
    </div>
     </div>
     <div class="form-group">
    <label  for="FactoryGetDate" class="col-sm-2 control-label">           تاریخ تحویل
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                                  <input  type="text"  onkeypress="return blockNonDateNumber(event)" Liquid error: Value cannot be null.
Parameter name: input  Liquid error: Value cannot be null.
Parameter name: input onBlur="ReformatDate('txtFactor_InsertFactoryGetDate')"  class="form-control" id="txtFactor_InsertFactoryGetDate" placeholder="yyyy/mm/dd" max-length="10" ></input>
          
    </div>
    <label  for="id_stroage" class="col-sm-2 control-label">           کد انبار
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                      <select class="form-control" id="txtFactor_Insertid_stroage" Liquid error: Value cannot be null.
Parameter name: input  Liquid error: Value cannot be null.
Parameter name: input ></select>
                      
    </div>
    <label  for="FactoryType" class="col-sm-2 control-label">           نوع فاکتور
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                          <select class="form-control" id="txtFactor_InsertFactoryType" Liquid error: Value cannot be null.
Parameter name: input  Liquid error: Value cannot be null.
Parameter name: input >
                <option value="0">خرید</option>
                <option value="1">برگشت از خرید</option>
                <option value="2">فروش</option>
                <option value="3">برگشت از فروش</option>
              </select>
                                  
    </div>
     </div>
     <div class="form-group">
    <label  for="Descr" class="col-sm-2 control-label">           توضیحات
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                            <TextArea class="form-control" id="txtFactor_InsertDescr" Liquid error: Value cannot be null.
Parameter name: input  Liquid error: Value cannot be null.
Parameter name: input></TextArea>
                
    </div>
    <label  for="totalFactory" class="col-sm-2 control-label">           جمع فاکتور
      :</label>
    <div   class="col-sm-2">
   
      
                                                                  <input type="Text"  onkeypress="return blockNonIntNumber(event)" moneymode="yes"  placeholder=""  disabled='' value="{{ShowMoney(Sum('total'))}}"   class="form-control" id="txtFactor_InserttotalFactory" placeholder="" />
                                                          
    </div>
    <label  for="totalDiscount" class="col-sm-2 control-label">           جمع تخفیف
      :</label>
    <div   class="col-sm-2">
   
      
                                                                  <input type="Text"  onkeypress="return blockNonIntNumber(event)" moneymode="yes"  placeholder=""  disabled='' value="{{ShowMoney(Sum('stuffDiscount'))}}"   class="form-control" id="txtFactor_InserttotalDiscount" placeholder="" />
                                                          
    </div>
     </div>
     <div class="form-group">
    <label  for="totalBill" class="col-sm-2 control-label">           جمع ارزش افزوده
      :</label>
    <div   class="col-sm-2">
   
      
                                                                  <input type="Text"  onkeypress="return blockNonIntNumber(event)" moneymode="yes"  placeholder=""  disabled='' value="{{ShowMoney(Sum('stuffAdding'))}}"   class="form-control" id="txtFactor_InserttotalBill" placeholder="" />
                                                          
    </div>
    <label  for="totalMoveCost" class="col-sm-2 control-label">           هزینه حمل
      :</label>
    <div   class="col-sm-2">
   
      
                                                      <input type="Text"  onkeypress="return blockNonIntNumber(event)" placeholder="" moneytype="yes"  onkeyup="NumberInput(event,this)" Liquid error: Value cannot be null.
Parameter name: input  Liquid error: Value cannot be null.
Parameter name: input   class="form-control" id="txtFactor_InserttotalMoveCost" placeholder="" />
                                                                      
    </div>
    <label  for="totalPayable" class="col-sm-2 control-label">           جمع قابل پرداخت
      :</label>
    <div   class="col-sm-2">
   
      
                                                                  <input type="Text"  onkeypress="return blockNonIntNumber(event)" moneymode="yes"  placeholder=""  disabled='' value="{{ShowMoney(Sum('total')-Sum('stuffDiscount')+Sum('stuffAdding')+Num(Para('totalMoveCost')))}}"   class="form-control" id="txtFactor_InserttotalPayable" placeholder="" />
                                                          
    </div>
     </div>
     <div class="form-group">
  </div>
    </from>
  <script>
                    var CusAccId =null;
                                var id_stroage =null;
                                                                     
    Factor_Insert.IntForm=function()
    {
        document.title='فاکتور جدید';
        window.pageName='Factor_Insert';
    window.fileUploaded=false;
                                        CusAccId=  Select2AjaxInit('txtFactor_InsertCusAccId',function(term, page){
    var DataPass=new Object();
    DataPass.PageName='Factor_Insert';
    DataPass.ParaName='CusAccId';
    DataPass.Parameters=new Array();
            DataPass.Parameters.push(toInput('q',term.term));
                    return JSON.stringify(DataPass);
    });
                                    kamaDatepicker('txtFactor_InsertFactoryDate', { buttonsColor: "red" ,sync:'true',highlightSelectedDay:'true'});
                                kamaDatepicker('txtFactor_InsertFactoryGetDate', { buttonsColor: "red" ,sync:'true',highlightSelectedDay:'true'});
                            id_stroage=  Select2AjaxInit('txtFactor_Insertid_stroage',function(term, page){
    var DataPass=new Object();
    DataPass.PageName='Factor_Insert';
    DataPass.ParaName='id_stroage';
    DataPass.Parameters=new Array();
            DataPass.Parameters.push(toInput('q',term.term));
                    return JSON.stringify(DataPass);
    });
                                                                                                                                                                                            
    }
    $(document).ready(function () {
    Factor_Insert.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>
<a onclick='Factor_Insert.InsertRecord()' ><button type="button" class="btn btn-default" >ردیف جدید</button></a>
<a onclick='Factor_Insert.Save()' ><button type="button" class="btn btn-default" >ذخیره</button></a>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
<th>ردیف</th>
 <th  width='25%'class="Pointer"  ng-click="ChageTableOrder('stuffId')"  > <span ng-show="((currentOrder=='stuffId') && (rev) )">V</span> <span ng-show="((currentOrder=='stuffId') && (!rev) )">^</span>کالا</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('stuffPrice')"  > <span ng-show="((currentOrder=='stuffPrice') && (rev) )">V</span> <span ng-show="((currentOrder=='stuffPrice') && (!rev) )">^</span>فی</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('stuffCount')"  > <span ng-show="((currentOrder=='stuffCount') && (rev) )">V</span> <span ng-show="((currentOrder=='stuffCount') && (!rev) )">^</span>تعداد جز</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('BCount')"  > <span ng-show="((currentOrder=='BCount') && (rev) )">V</span> <span ng-show="((currentOrder=='BCount') && (!rev) )">^</span>تعداد کل</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('total')"  > <span ng-show="((currentOrder=='total') && (rev) )">V</span> <span ng-show="((currentOrder=='total') && (!rev) )">^</span>جمع</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('stuffDiscount')"  > <span ng-show="((currentOrder=='stuffDiscount') && (rev) )">V</span> <span ng-show="((currentOrder=='stuffDiscount') && (!rev) )">^</span>تخفیف</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('stuffAdding')"  > <span ng-show="((currentOrder=='stuffAdding') && (rev) )">V</span> <span ng-show="((currentOrder=='stuffAdding') && (!rev) )">^</span>ارزش افزوده</th> 
<th>
    عملیات
</th>
      </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index" ng-repeat="record in Factor_Insertrecords | orderBy:currentOrder :rev | filter:FilterValue " >
<td data-label="ردیف">{{$index+1}}</td>
  <td data-label='کالا'><select class="form-control"   id="stuffId_{{record.rndId}}"  valc="{{record.stuffId}}"  type="Select2Ajax" onfocus="Select2AjaxInitTable( this.id , function(term, page){  var DataPass=new Object();DataPass.PageName='Factor_Insert';DataPass.colname='stuffId';DataPass.Parameters=new Array();DataPass.Parameters.push(toInput('q',term.term));return JSON.stringify(DataPass);});"    ng-change="ChangeState(record);AjaxActions.GetProduct_asTable(MergeNow,record.stuffId,-1);;record.total=Num(record.Count)*Num(record.stuffPrice);NormalResult();"   ng-model="record.stuffId"  >
 <option value="{{record.stuffId}}" selected="selected" >
     {{record.title}} </option>
</select></td> 
  <td data-label='فی'><input class="form-control" type="text" id="stuffPrice_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);record.total=Num(record.stuffCount)*Num(record.stuffPrice);record.stuffAdding=Round((Num(record.total)-Num(record.stuffDiscount))*Num(record.per));NormalResult();"   onkeyup="NumberInput(event,this)"   value="{{record.stuffPrice}}" ng-model="record.stuffPrice"  /></td> 
  <td data-label='تعداد جز'><input class="form-control" type="text" id="stuffCount_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);record.BCount=Num(record.stuffCount)/Num(record.BoxCount);record.total=Num(record.stuffCount)*Num(record.stuffPrice);record.stuffAdding=Round((Num(record.total)-Num(record.stuffDiscount))*Num(record.per));NormalResult();"   onkeyup="NumberInput(event,this)"   value="{{record.stuffCount}}" ng-model="record.stuffCount"  /></td> 
  <td data-label='تعداد کل'><input class="form-control" type="text" id="BCount_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);record.stuffCount=Num(record.BCount)*Num(record.BoxCount);record.total=Num(record.stuffCount)*Num(record.stuffPrice);record.stuffAdding=Round((Num(record.total)-Num(record.stuffDiscount))*Num(record.per));NormalResult();"   onkeyup="NumberInput(event,this)"   value="{{record.BCount}}" ng-model="record.BCount"  /></td> 
<td data-label='جمع'>{{ShowMoney(Num(record.stuffPrice)*Num(record.stuffCount))}}</td> 
   <td data-label='تخفیف'><input class="form-control" type="text" id="stuffDiscount_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);record.stuffAdding=(Num(record.total)-Num(record.stuffDiscount))*Num(record.per);NormalResult();"   onkeyup="NumberInput(event,this)"   value="{{record.stuffDiscount}}" ng-model="record.stuffDiscount"  /></td> 
  <td data-label='ارزش افزوده'><input class="form-control" type="text" id="stuffAdding_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);"   onkeyup="NumberInput(event,this)"   value="{{record.stuffAdding}}" ng-model="record.stuffAdding"  /></td> 
              <td data-label=''>
 <div class="btn-group">
 <button type="button" class="btn btn-default dropdown-toggle "
 data-toggle="dropdown">
 عملیات <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
 <li ><a   ng-click="RemoveItem( record)"   >حذف</a></li> 

 </ul>
</div>
</td>
     </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             Factor_Insert.Serach();
                      });
    
     </script>