تعیین موجودی
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
    <label  for="id_stD" class="col-sm-2 control-label">           کد انبار
      :</label>
    <div   class="col-sm-4">
   
      
                                                            <input type="Text"  onkeypress="return blockNonIntNumber(event)"   placeholder=""  disabled='' value="{{Query('id_St')}}"   class="form-control" id="txtsetAvableid_stD" placeholder="" />
                                                                
    </div>
    <label  for="st_named" class="col-sm-2 control-label">           عنوان انبار
      :</label>
    <div   class="col-sm-4">
   
      
                                                            <input type="Text"  onkeypress="return blockNonIntNumber(event)"   placeholder=""  disabled='' value="{{Query('st_name')}}"   class="form-control" id="txtsetAvablest_named" placeholder="" />
                                                                
    </div>
     </div>
     <div class="form-group">
  </div>
    </from>
  <script>
                            
    setAvable.IntForm=function()
    {
        document.title='تعیین موجودی';
        window.pageName='setAvable';
    window.fileUploaded=false;
                                                                            
    }
    $(document).ready(function () {
    setAvable.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>
<a onclick='setAvable.Save()' ><button type="button" class="btn btn-default" >ذخیره</button></a>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" onkeyup="ResetCheck();" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
 <th  class="Pointer"  ng-click="ChageTableOrder('id_stuff')"  > <span ng-show="((currentOrder=='id_stuff') && (rev) )">V</span> <span ng-show="((currentOrder=='id_stuff') && (!rev) )">^</span>کد کالا</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('stuff_name')"  > <span ng-show="((currentOrder=='stuff_name') && (rev) )">V</span> <span ng-show="((currentOrder=='stuff_name') && (!rev) )">^</span>عنوان کالا</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('realCount')"  > <span ng-show="((currentOrder=='realCount') && (rev) )">V</span> <span ng-show="((currentOrder=='realCount') && (!rev) )">^</span>تعداد به جز کالا</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('rboxCount')"  > <span ng-show="((currentOrder=='rboxCount') && (rev) )">V</span> <span ng-show="((currentOrder=='rboxCount') && (!rev) )">^</span>تعداد به کل کالا</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('price')"  > <span ng-show="((currentOrder=='price') && (rev) )">V</span> <span ng-show="((currentOrder=='price') && (!rev) )">^</span>ارزش</th> 
 </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index" ng-repeat="record in setAvablerecords | orderBy:currentOrder :rev | filter:FilterValue " >
<td data-label='کد کالا'>{{record.id_stuff}}</td> 
 
<td data-label='عنوان کالا'>{{record.stuff_name}}</td> 
 
  <td data-label='تعداد به جز کالا'><input class="form-control" type="text" id="realCount_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);record.rboxCount=Num(record.realCount)/Num(record.boxcount);NormalResult();"   onkeyup="NumberInput(event,this)"   value="{{record.realCount}}" ng-model="record.realCount"  /></td> 

  <td data-label='تعداد به کل کالا'><input class="form-control" type="text" id="rboxCount_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);record.realCount=Num(record.rboxCount)*Num(record.boxcount);NormalResult();"   onkeyup="NumberInput(event,this)"   value="{{record.rboxCount}}" ng-model="record.rboxCount"  /></td> 

  <td data-label='ارزش'><input class="form-control" type="text" id="price_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);"   onkeyup="NumberInput(event,this)"   value="{{record.price}}" ng-model="record.price"  /></td> 

                  </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             setAvable.Serach();
                      });
    
     </script>