تعیین کاربران موجود در نقش
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
  </div>
    </from>
  <script>
                 
    ShowUserInRole.IntForm=function()
    {
        document.title='تعیین کاربران موجود در نقش';
        window.pageName='ShowUserInRole';
    window.fileUploaded=false;
                            
    }
    $(document).ready(function () {
    ShowUserInRole.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>
<a onclick='ShowUserInRole.Save()' ><button type="button" class="btn btn-default" >ذخیره</button></a>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
<th><input type="checkbox" id="checkAll" onclick="CheckAllTable(this.checked)"  /></th>
 <th  > شناسه کاربری</th> 
 <th  > نام</th> 
 <th  > نام خانوادگی</th> 
 </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index" ng-repeat="record in ShowUserInRolerecords | orderBy:currentOrder :rev | filter:FilterValue " >
<th><input type="checkbox" tableCheck="yes" id="selected_{{record.rndId}}" onchange="sendCheckboxToRecord(this)"  /></th>
<td data-label='شناسه کاربری'>{{record.UserId}}</td> 
 <td data-label='نام'>{{record.Fname}}</td> 
 <td data-label='نام خانوادگی'>{{record.Lname}}</td> 
                   </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             ShowUserInRole.Serach();
                      });
    
     </script>