تغییر در مقادیر به صورت آفلاین
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
  </div>
    </from>
  <script>
    
    SimpleTable13.IntForm=function()
    {
        document.title='تغییر در مقادیر به صورت آفلاین';
        window.pageName='SimpleTable13';
    window.fileUploaded=false;
    
    }
    $(document).ready(function () {
    SimpleTable13.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption></caption>
 <thead>
 <tr>
 <th  > فی</th> 
 <th  > تعداد</th> 
 <th  > جمع</th> 
               
 </tr>
   </thead>
     <tr fliterrows="SimpleTable13records" ng-init="record.viewIndex=$index" ng-repeat="record in SimpleTable13records | orderBy:currentOrder :rev " >
  <td data-label='فی'><input class="form-control" type="text" id="price_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);record.total=Num(record.price)*Num(record.count);NormalResult();"   onkeyup="NumberInput(event,this)"   value="{{record.price}}" ng-model="record.price"  /></td> 

  <td data-label='تعداد'><input class="form-control" type="text" id="count_{{record.rndId}}"  moneyType="yes"  onkeypress="return blockNonIntNumber(event)" ng-change="ChangeState(record);record.total=Num(record.price)*Num(record.count);NormalResult();"   onkeyup="NumberInput(event,this)"   value="{{record.count}}" ng-model="record.count"  /></td> 

<td data-label='جمع'>{{ShowMoney(record.total)}}</td> 
 
             
                        

     </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             SimpleTable13.Serach();
                      });
    
     </script>