جدول ساده بدون پارامتر  با امکانات ساده نمایشی 
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
  </div>
    </from>
  <script>
    
    SimpleTable2.IntForm=function()
    {
        document.title='جدول ساده بدون پارامتر  با امکانات ساده نمایشی ';
        window.pageName='SimpleTable2';
    window.fileUploaded=false;
    
    }
    $(document).ready(function () {
    SimpleTable2.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" onkeyup="ResetCheck();" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
<th>ردیف</th>
 <th  class="Pointer"  ng-click="ChageTableOrder('cityId')"  > <span ng-show="((currentOrder=='cityId') && (rev) )">V</span> <span ng-show="((currentOrder=='cityId') && (!rev) )">^</span>کد شهر</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('cityTitle')"  > <span ng-show="((currentOrder=='cityTitle') && (rev) )">V</span> <span ng-show="((currentOrder=='cityTitle') && (!rev) )">^</span>عنوان شهر</th> 
               
 </tr>
   </thead>
     <tr fliterrows="SimpleTable2records" ng-init="record.viewIndex=$index" ng-repeat="record in SimpleTable2records | orderBy:currentOrder :rev | filter:FilterValue " >
<td data-label="ردیف">{{$index+1}}</td>
<td data-label='کد شهر'>{{record.cityId}}</td> 
 
<td data-label='عنوان شهر'>{{record.cityTitle}}</td> 
 
             
                        

     </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             SimpleTable2.Serach();
                      });
    
     </script>