شیوه مختلف نمایش اطلاعات در جدول 
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
  </div>
    </from>
  <script>
         
    SimpleTable7.IntForm=function()
    {
    
    document.title='شیوه مختلف نمایش اطلاعات در جدول ';
    window.fileUploaded=false;
    
    }
    $(document).ready(function () {
    SimpleTable7.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
 <th  > شناسه</th> 
 <th  > نام</th> 
 <th  > حقوق پایه</th> 
 <th  > نمره آزمون</th> 
 <th  > تاریخ تولد</th> 
 <th  > معلویت جسمی</th> 
 <th  > تصویر پرسنلی</th> 
 </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index"  ng-repeat="record in records | orderBy:currentOrder :rev | filter:FilterValue " >
<td data-label='شناسه'>{{record.id}}</td> 
 <td data-label='نام'>{{record.name}}</td> 
 <td data-label='حقوق پایه'>{{ShowMoney(record.salaryBase)}}</td> 
 <td data-label='نمره آزمون'>{{record.examResult}}</td> 
 <td data-label='تاریخ تولد'>{{record.dateBrith}}</td> 
  <td data-label='معلویت جسمی'>{{ShowBoolean(record.isBroken)}}</td> 
  <td data-label='تصویر پرسنلی'><image ng-src='/upd/{{record.picImage}}' width="150px" /></td> 
                   </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             SimpleTable7.Serach();
                      });
    
     </script>