تغییر در مقادیر ردیف جدول به صورت آنلاین   
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
  </div>
    سلام <br/>
    </from>
  <script>
         
    SimpleTable14.IntForm=function()
    {
    
    document.title='تغییر در مقادیر ردیف جدول به صورت آنلاین   ';
    window.fileUploaded=false;
    
    }
    $(document).ready(function () {
    SimpleTable14.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
 <th  width='50%'class="Pointer"  ng-click="ChageTableOrder('cityid')"  > <span ng-show="((currentOrder=='cityid') && (rev) )">V</span> <span ng-show="((currentOrder=='cityid') && (!rev) )">^</span>شهر</th> 
 <th  width='50%'class="Pointer"  ng-click="ChageTableOrder('CITYPop')"  > <span ng-show="((currentOrder=='CITYPop') && (rev) )">V</span> <span ng-show="((currentOrder=='CITYPop') && (!rev) )">^</span>جمعیت</th> 
 </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index"  ng-repeat="record in records | orderBy:currentOrder :rev | filter:FilterValue " >
  <td data-label='شهر'><select class="form-control"   id="cityid_{{record.rndId}}"  valc="{{record.cityid}}"  type="Select2Ajax" onfocus="Select2AjaxInitTable( this.id , function(term, page){  var DataPass=new Object();DataPass.PageName='SimpleTable14';DataPass.colname='cityid';DataPass.Parameters=new Array();DataPass.Parameters.push(toInput('q',term.term));return JSON.stringify(DataPass);});"    ng-change="ChangeState(record);AjaxActions.GetPop_asTable(MergeNow,record.cityid)"   ng-model="record.cityid"  >
 <option value="{{record.cityid}}" selected="selected" >
     {{record.}} </option>
</select></td> 
<td data-label='جمعیت'>{{ShowMoney(record.CITYPop)}}</td> 
                   </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             SimpleTable14.Serach();
                      });
    
     </script>