تعریف انبار
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
  </div>
    </from>
  <script>
    
    stroage_mgt.IntForm=function()
    {
        document.title='تعریف انبار';
        window.pageName='stroage_mgt';
    window.fileUploaded=false;
    
    }
    $(document).ready(function () {
    stroage_mgt.IntForm();
        
    });
  </script>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>
<a onclick='stroage_mgt.InsertRecord()' ><button type="button" class="btn btn-default" >ردیف جدید</button></a>
<a onclick='stroage_mgt.Save()' ><button type="button" class="btn btn-default" >ذخیره</button></a>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
<th>ردیف</th>
 <th  class="Pointer"  ng-click="ChageTableOrder('id_stroage')"  > <span ng-show="((currentOrder=='id_stroage') && (rev) )">V</span> <span ng-show="((currentOrder=='id_stroage') && (!rev) )">^</span>کد انبار</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('storage_name')"  > <span ng-show="((currentOrder=='storage_name') && (rev) )">V</span> <span ng-show="((currentOrder=='storage_name') && (!rev) )">^</span>عنوان</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('addr')"  > <span ng-show="((currentOrder=='addr') && (rev) )">V</span> <span ng-show="((currentOrder=='addr') && (!rev) )">^</span>آدرس</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('graud_name')"  > <span ng-show="((currentOrder=='graud_name') && (rev) )">V</span> <span ng-show="((currentOrder=='graud_name') && (!rev) )">^</span>مسئول انبار</th> 
<th>
    عملیات
</th>
      </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index" ng-repeat="record in stroage_mgtrecords | orderBy:currentOrder :rev | filter:FilterValue " >
<td data-label="ردیف">{{$index+1}}</td>
<td data-label='کد انبار'>{{record.id_stroage}}</td> 
  <td data-label='عنوان'><input class="form-control" type="text" id="storage_name_{{record.rndId}}" value="{{record.storage_name}}" ng-change="ChangeState(record);"  ng-model="record.storage_name"  /></td> 
  <td data-label='آدرس'><input class="form-control" type="text" id="addr_{{record.rndId}}" value="{{record.addr}}" ng-change="ChangeState(record);"  ng-model="record.addr"  /></td> 
  <td data-label='مسئول انبار'><input class="form-control" type="text" id="graud_name_{{record.rndId}}" value="{{record.graud_name}}" ng-change="ChangeState(record);"  ng-model="record.graud_name"  /></td> 
               <td data-label=''>
 <div class="btn-group">
 <button type="button" class="btn btn-default dropdown-toggle "
 data-toggle="dropdown">
 عملیات <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
 <li ><a   ng-click="RemoveItem( record)"   >حذف</a></li> 

 </ul>
</div>
</td>
     </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
             
             stroage_mgt.Serach();
                      });
    
     </script>