مدیریت اجناس
<hr />
<form class="NotPrintable form-horizontal"  role="form">
  <div class="form-group">
    <label  for="id_stuff" class="col-sm-1 control-label">           شناسه کالا
      :</label>
    <div   class="col-sm-2">
   
      
                        <input type="Number" onkeypress="return blockNonIntNumber(event)" placeholder="" class="form-control" id="txtstuff_Serachid_stuff" placeholder="" />
                                                                                                    
    </div>
    <label  for="id_factory" class="col-sm-1 control-label">           کارخانه
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                      <select class="form-control" id="txtstuff_Serachid_factory" ></select>
                      
    </div>
    <label  for="id_product" class="col-sm-1 control-label">           نوع کالا
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                      <select class="form-control" id="txtstuff_Serachid_product" ></select>
                      
    </div>
    <label  for="stuff_name" class="col-sm-1 control-label">           عنوان
      :</label>
    <div   class="col-sm-2">
   
            <input type="text"   class="form-control" id="txtstuff_Serachstuff_name" placeholder=""  placeholder="" />
      
                                                                                                                
    </div>
     </div>
     <div class="form-group">
    <label  for="unit_id" class="col-sm-1 control-label">           شناسه واحد
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                      <select class="form-control" id="txtstuff_Serachunit_id" ></select>
                      
    </div>
    <label  for="unitbox_id" class="col-sm-1 control-label">           واحد کلی
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                      <select class="form-control" id="txtstuff_Serachunitbox_id" ></select>
                      
    </div>
    <label  for="boxcount" class="col-sm-1 control-label">           تعداد کل به جز
      :</label>
    <div   class="col-sm-2">
   
      
                        <input type="Number" onkeypress="return blockNonIntNumber(event)" placeholder="" class="form-control" id="txtstuff_Serachboxcount" placeholder="" />
                                                                                                    
    </div>
    <label  for="price" class="col-sm-1 control-label">           قیمت
      :</label>
    <div   class="col-sm-2">
   
      
                                                      <input type="Text"  onkeypress="return blockNonIntNumber(event)" placeholder="" moneytype="yes"  onkeyup="NumberInput(event,this)" class="form-control" id="txtstuff_Serachprice" placeholder="" />
                                                                      
    </div>
     </div>
     <div class="form-group">
    <label  for="descr" class="col-sm-1 control-label">           توضیحات
      :</label>
    <div   class="col-sm-2">
   
      
                                                                                                            <TextArea class="form-control" id="txtstuff_Serachdescr" ></TextArea>
                
    </div>
  </div>
    </from>
  <script>
                    var id_factory =null;
                var id_product =null;
                        var unit_id =null;
                var unitbox_id =null;
                                     
    stuff_Serach.IntForm=function()
    {
        document.title='مدیریت اجناس';
        window.pageName='stuff_Serach';
    window.fileUploaded=false;
                                        id_factory=  Select2AjaxInit('txtstuff_Serachid_factory',function(term, page){
    var DataPass=new Object();
    DataPass.PageName='stuff_Serach';
    DataPass.ParaName='id_factory';
    DataPass.Parameters=new Array();
            DataPass.Parameters.push(toInput('q',term.term));
                    return JSON.stringify(DataPass);
    });
                                id_product=  Select2AjaxInit('txtstuff_Serachid_product',function(term, page){
    var DataPass=new Object();
    DataPass.PageName='stuff_Serach';
    DataPass.ParaName='id_product';
    DataPass.Parameters=new Array();
            DataPass.Parameters.push(toInput('q',term.term));
                    return JSON.stringify(DataPass);
    });
                                                        unit_id=  Select2AjaxInit('txtstuff_Serachunit_id',function(term, page){
    var DataPass=new Object();
    DataPass.PageName='stuff_Serach';
    DataPass.ParaName='unit_id';
    DataPass.Parameters=new Array();
            DataPass.Parameters.push(toInput('q',term.term));
                    return JSON.stringify(DataPass);
    });
                                unitbox_id=  Select2AjaxInit('txtstuff_Serachunitbox_id',function(term, page){
    var DataPass=new Object();
    DataPass.PageName='stuff_Serach';
    DataPass.ParaName='unitbox_id';
    DataPass.Parameters=new Array();
            DataPass.Parameters.push(toInput('q',term.term));
                    return JSON.stringify(DataPass);
    });
                                                                                            
    }
    $(document).ready(function () {
    stuff_Serach.IntForm();
        
    });
  </script>

<button type="button" class="btn btn-primary" onclick="stuff_Serach.Serach(this)">نمایش</button>
<button type="button" class="btn btn-default" onclick="BackPage()">بازگشت</button>
<a href='#/stuff_Insert' ><button type="button" class="btn btn-default" >جدید</button></a>


<div class="table-responsive">
<table class="table table-bordered table table-striped">
<caption>جست و جو : <input  class="form-control" type="text" ng-model="FilterValue" placeholder="عبارت مورد نظر جهت جست و جو"  /> </caption>
 <thead>
 <tr>
<th>ردیف</th>
 <th  class="Pointer"  ng-click="ChageTableOrder('id_stuff')"  > <span ng-show="((currentOrder=='id_stuff') && (rev) )">V</span> <span ng-show="((currentOrder=='id_stuff') && (!rev) )">^</span>شناسه کالا</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('id_factory')"  > <span ng-show="((currentOrder=='id_factory') && (rev) )">V</span> <span ng-show="((currentOrder=='id_factory') && (!rev) )">^</span>کارخانه</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('id_product')"  > <span ng-show="((currentOrder=='id_product') && (rev) )">V</span> <span ng-show="((currentOrder=='id_product') && (!rev) )">^</span>نوع کالا</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('stuff_name')"  > <span ng-show="((currentOrder=='stuff_name') && (rev) )">V</span> <span ng-show="((currentOrder=='stuff_name') && (!rev) )">^</span>عنوان</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('unit_id')"  > <span ng-show="((currentOrder=='unit_id') && (rev) )">V</span> <span ng-show="((currentOrder=='unit_id') && (!rev) )">^</span>شناسه واحد</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('unitbox_id')"  > <span ng-show="((currentOrder=='unitbox_id') && (rev) )">V</span> <span ng-show="((currentOrder=='unitbox_id') && (!rev) )">^</span>واحد کلی</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('boxcount')"  > <span ng-show="((currentOrder=='boxcount') && (rev) )">V</span> <span ng-show="((currentOrder=='boxcount') && (!rev) )">^</span>تعداد کل به جز</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('price')"  > <span ng-show="((currentOrder=='price') && (rev) )">V</span> <span ng-show="((currentOrder=='price') && (!rev) )">^</span>قیمت</th> 
 <th  class="Pointer"  ng-click="ChageTableOrder('descr')"  > <span ng-show="((currentOrder=='descr') && (rev) )">V</span> <span ng-show="((currentOrder=='descr') && (!rev) )">^</span>توضیحات</th> 
<th>
    عملیات
</th>
      </tr>
   </thead>
     <tr ng-init="record.viewIndex=$index" ng-repeat="record in stuff_Serachrecords | orderBy:currentOrder :rev | filter:FilterValue " >
<td data-label="ردیف">{{$index+1}}</td>
<td data-label='شناسه کالا'>{{record.id_stuff}}</td> 
 <td data-label='کارخانه'>{{record.id_factory}}</td> 
 <td data-label='نوع کالا'>{{record.id_product}}</td> 
 <td data-label='عنوان'>{{record.stuff_name}}</td> 
 <td data-label='شناسه واحد'>{{record.unit_id}}</td> 
 <td data-label='واحد کلی'>{{record.unitbox_id}}</td> 
 <td data-label='تعداد کل به جز'>{{record.boxcount}}</td> 
 <td data-label='قیمت'>{{ShowMoney(record.price)}}</td> 
 <td data-label='توضیحات'>{{record.descr}}</td> 
                <td data-label=''>
 <div class="btn-group">
 <button type="button" class="btn btn-default dropdown-toggle "
 data-toggle="dropdown">
 عملیات <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
 <li ><a href="#/stuff_Edit/{{record.id_stuff}}" >ویرایش</a></li> 
 <li ><a  pdaAjaxSyntax="ConfirmAsk('آیا مطممن هستید?',function(){AjaxActions.stuff_Delete('{{record.id_stuff}}')});" >حذف</a></li> 

 </ul>
</div>
</td>
     </tr>

 <tbody>
</table>
         <form class="form-horizontal" role="form">
  <div class="form-group">
 

</div>
     <script>
         $(document).ready(function () {
                      });
    
     </script>