body {
    font-family:vazir !important;
    direction:rtl;
    padding: 5px;
    text-align: center;
    font-size:small !important;
}
table {
    font-size:small !important;
}
@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir-Thin.eot');
    src: url('../fonts/Vazir-Thin.eot#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Thin.woff') format('woff'),
         url('../fonts/Vazir-Thin.ttf') format('truetype'),
         url('../fonts/Vazir-Thin.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
.col-centered{
    float: none;
    margin: 0 auto;
}
.white_shadow {
text-shadow:1px 1px 2px white;
}
.page-header {
margin:0px !important;
}

.mce-txt {
        font-family: 'vazir' !important;
        font-size:smaller !important;
}
.mce-reset {
      font-family: 'vazir' !important;
        font-size:smaller !important;
}

.red {
color:pink;
}
.Pointer {
    cursor:pointer;
}

@media screen and  (min-width:900px) {
    .table-responsive {
    overflow-x:visible;
    overflow-y:visible;
    }
}
@keyframes looper {
    0% {
        transform:rotate(0DEG);
    }
    99% {
           transform:rotate(359DEG);
    }
}

.loadingBar {
position: fixed;
    left: 0px;
    top: 0px;
    width: 32PX;
    height: 32PX;
    z-index: 200;
    /* background-image: url(../images/loading.gif); */
    border-top: 10px solid green;
    border-radius: 50%;
    border: 5px solid white;
    /* border-bottom: 10px solid red; */
    /* background: white; */
    box-shadow: 0px 0px 10px;
    border-top: 5px solid #000000;
      border-bottom: 5px solid #000000;
    transform: rotate(0DEG);
    opacity: 0.7;
    animation-name:looper;
    animation-play-state:running;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-delay:0s;
    animation-timing-function:linear;
}
@keyframes looper {
    0% {
        transform:rotate(0DEG);
    }
    100% {
        transform:rotate(360DEG);
    }
}
body {
overflow-x:hidden;
}
@media print {
    .NotPrintable {
        display: none !important;
    }
}

#fileStatus {
position:fixed;
left:0px;
bottom:0px;
right:0px;
z-index:100;

}

select   {
width:80% !important;
}



 @media screen and (max-width: 640px) {
  table {
    
  }
  .table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .table tr + tr {
    margin-top: 1.5rem;
  }
  .table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
    .table-responsive {
    overflow:visible;
    }
    .table td .form-control {
     width:50% !important;
    }
  .table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 0;
    width: 50%;
    text-align:left;
    position: relative;
    z-index: 1;
    border-left:1px solid;
    padding:1px;
  }
  
}
